body {
    font-family: Arial;
}

.centered {
    text-align: center;
}

.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    width: 500px;
    margin: 10px 0;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 5px;
}

.explanation {
    padding: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#source-list {
    list-style: inside;
}

.shape-container {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.shape {
    width: 10vw;
    height: 10vw;
}

.my-rect {
    width: 10vw;
    height: 10vw;
    fill: #9bc6df;
}

.my-rect:hover {
    fill: #2b6cab;
}

.my-circle {
    r: 5vw;
    cx: 5vw;
    cy: 5vw;
    fill: #a8da7c;
}

.my-circle:hover {
    fill: #2d9526;
}