body {
    font-family: Arial;
}

.centered {
    text-align: center;
}

#source-list {
    list-style: inside;
}

.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-content: start-end + safe;
}